:root {
    --color-primary: rgb(255,107,53);
    --color-secondary: #063C6F;
    --color-white: #ffff;
    --color-black: #000000;

    --text-primary: #171717;
    --text-muted: #656565;
    --text-muted-light: #999999;

    --color-primary-gradient: linear-gradient(135deg, #ff4300 0%, #ffbc8d 100%);
}